html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit; 
}

/* watch.it brand colors 
> #070410
> #231651
> #4DCCBD
> #EEF36A
> #FFFFFF
*/

body {
    background-color: #231651;
    color: #FFFFFF;
}

/* BUTTON AND NAV BAR */
nav {
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    background-color: #070410;
}

a {
    margin-top: 20px;
}

button {
    color: #070410;
    background-color: #EEF36A;
}

button:hover{
    background-color: #4DCCBD;
}